@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Linden+Hill:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$light: #ffe9bf;
$dark: #d29e62;
$dark-gray: #695e48;
$little-light: #c7bd8d;
$gray: #1f1f1f1f;
$black: #151515;
$white: #f5f5f5;
